.cover__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 740px;
    color: #fff;
    text-decoration: none;
    position: relative;
}

