.lead {
    margin: 0 148px 114px 148px;
    /*
    margin-bottom: 114px;
    */
}

@media screen and (max-width: 1024px) {
    .lead {
        margin: 0 48px 114px 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        margin: 0 24px 110px 24px;
    }
}

@media screen and (max-width: 670px) {
    .lead {
        margin-bottom: 86px;
    }
}