/*
.content {
    padding: 0 148px 24px 148px;
}

@media screen and (max-width: 1024px) {
    .content {
        padding: 0 48px 24px 48px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding: 0 24px 24px 24px;
    }
}

@media screen and (max-width: 320px) {
    .content {
        padding: 0 16px 24px 16px;
    }
}*/
