.cover {
    min-height: 740px;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    position: relative;
    margin: 0 48px 92px 48px;
}



.cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: .3;
}

@media screen and (min-width: 1024px) {
    .cover:hover::before {
        opacity: .8;
        transition: opacity .6s;
    }
}

@media screen and (max-width: 1024px) {
    .cover {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
        margin: 0 0 92px 0;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        min-height: 200px;
    }
}

@media screen and (max-width: 670px) {
    .cover {
        margin-bottom: 64px;
    }
}